<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>日志检索</title>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="static/css/common.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">

    <style>

        #login_div {
            background-color: #3c4555;
            width: 600px;
            height: 400px;
            margin: 50px auto;
            padding-top: 100px;
            display: none;
        }
        #login_tb {

            {#border: #9c9c9c 2px solid;#}
            margin: 0 auto;
            width: 500px;
            height: 120px;
            padding-bottom: 100px;
        }


        .la {
            text-align: right;
            font-size: 18px;
            color: darkgray;
        }

        input {
            width: 270px;
            height: 40px;
            border-radius: 10px;
        }
        select {
            width: 270px;
            height: 40px ;
            border-radius: 10px;

        }

        [type=button],[type=reset] {
            width: 100px;

            font-size: 16px;


        }

    </style>
</head>

<body>

    <nav class="bk-horz-nav11">
        <div class="bk-nav-logo fl">
            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo1.png">CMDB
        </div>
        <div class="bk-nav-user fr" id="login">
            <span>{{request.session.loginflag.username}}</span>
            {% if request.session.loginflag %}
                <img src="static/images/avatar.png">
             {% else %}
                <p>登录</p>
            {% endif %}

        </div>
        <ul class="bk-nav-links fr">
            <li class="active">
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/result">服务器详情</a>
            </li>
        </ul>
    </nav>

    <div class="search-wrapper">

         <div id="login_div">

            <form class="form" action="/result" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <table id="login_tb">
                        <tr>
                            <td class="la">user：</td>
                            <td><input type="text" name="username" value="" id="username" placeholder="user"> </td>
                            <td id="a" style="width: 100px;text-align: left;color: orangered"></td>
                        </tr>
                        <tr style="height: 10px"></tr>
                        <tr>
                            <td class="la">password：</td>
                            <td><input type="password" class="" id="" placeholder="password" name="password" value=""></td>
                            <td id="b" style="width: 100px;text-align: left;color: orangered"></td>
                        </tr>
                        <tr style="height: 10px"></tr>
                        <tr>
                            <td class="la">place：</td>
                            <td><select name="place" id="" class="">
                            <option value="郑州">郑州</option>
                            <option value="开封">开封</option>
                            <option value="洛阳">洛阳</option>
                            <option value="平顶山">平顶山</option>
                        </select></td>
                        </tr>
                         <tr style="height: 50px"></tr>
                        <tr>
                            <td colspan="3" >
                                <input type="reset" value="reset">
                                <input type="button" value="submit">
                            </td>

                        </tr>

                    </table>
            </form>
        </div>
    </div>

    <footer class="bk-footer mt0">
        <div class="bk-footer-links">
            <ul>
                <li>
                    <a href="###">QQ咨询</a>
                </li>
                <li>
                    <a href="###">蓝鲸论坛</a>
                </li>
                <li>
                    <a href="###">蓝鲸官网</a>
                </li>
                <li>
                    <a href="###">蓝鲸智云工作台</a>
                </li>
            </ul>
        </div>
        <p class="bk-footer-copyright">
            Copyright &copy; 2012-2017 Tencent BlueKing. All Rights Reserved. 蓝鲸智云 版权所有
        </p>
    </footer>


    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>

    <script>
        $(function () {

            $("#login").click(function () {

                $("#login_div").show();

                $("[type=button]").click(function () {

                var username= $('#username').val();
                var password=$('[name=password]').val();
                var place=$('[name=place]').val();
                console.log(username,password,place);
                $.post('/login',{"username":username,"password":password},function (data) {
                    if (data.flag ===1){
                        console.log(data.msg);
                        $("#a").text(data.msg);
                         setTimeout(function () {
                            $("#a").text("")
                            },3000);
                    } else if(data.flag ===2){
                        $("#b").text(data.msg);
                        setTimeout(function () {
                            $("#b").text("")
                        },3000);

                    } else {
                         $("form").submit();
                        $("#login_div").html("<p>已登录</p>")
                    }
                },'json')
            });
            });
        })
    </script>






</body>

</html>